<section class="order" id="order">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
<!--        <span>Хватит думать!</span> -->
        <a routerLink="/order" [queryParams]="{product: formValues.productTitle + '1 '}">Хватит думать!</a>
        Доставим заказ за 30 минут!</div>
      <div class="order-text-message">Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления
        заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на
        следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался
        голодный!
      </div>
    </div>
    <div class="order-form">
      <input class="order-input" coolInput id = "product-input" [(ngModel)]="formValues.productTitle"
             [coolInputDefaultBgColor]="'gray'"
             [coolInputFocusBgColor]="'red'"
             placeholder="Пицца" type="text">
      <input class="order-input" id="address-input" [(ngModel)]="formValues.address" placeholder="Адрес доставки" type="text" name="address">
      <input class="order-input" coolInput id="phone-input" [(ngModel)]="formValues.phone" placeholder="Телефон" type="text">
      <button class="btn" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order-image">
      <img alt="кусок" src="assets/images/pizzzzza.png">
    </div>
  </div>
</section>
